.bg-black{
background-color: #000000;
}
body{
    background-color: rgb(224, 198, 211);
}
.nombrePerfil{
    font-size: 4rem;
    border-style: solid;
}
#imgpropia{
    width: 400px;
    height: 450px;
    border-style: solid;
}
.list-group{
    --bs-list-group-bg:transparent;   
}
.fa-brands:hover{
    background-color: #ff1493;
}

h4{
    font-size: 18px;
    display: block;
    text-align: center;
   
}
#callcenter1{
    font-size: 18px;
    text-align: center;
}
#imgcall{
    transition: 400rem;
    box-shadow: 10px 10px 25px #000000;
    padding: 10px;
    margin: 10px;

}
#imgcall:hover{
    opacity: 0.3;
}


#alphagroup2 {
    font-size: 18px;
        text-align: center;
        padding: 35px;

}
#imagizq{
       
        transition: 400rem;
         box-shadow: 10px 10px 25px #000000;
        padding: 10px;
            margin: 10px;
} 
#imagizq:hover{
    opacity: 0.3;
}

#agropec3{
    font-size: 18px;
        text-align: center;
}

#imgmujerrural{
    transition: 400rem;
    box-shadow: 10px 10px 25px #000000;
    padding: 5%;
    margin: 6%; 
}
#imgmujerrural:hover{
    opacity: 0.3;
}

#carouselExampleControls{
    width: 50%;
    height: 50%;

}




footer.bg-black{
    width: 100%;
    height: 100%;
    padding: 1rem;
}