.bg-black{
background-color: #000000;
}
body{
    background-color: rgb(252, 193, 222);
}
.nombrePerfil{
    font-size: 4rem;
    border-style: solid;
}
#imgpropia{
    width: 400px;
    height: 450px;
    border-style: solid;
}
.list-group{
    --bs-list-group-bg:transparent;   
}
.fa-brands:hover{
    background-color: #ff1493;
}

h5{ 
    padding: 5%;
    
}
#imgcall{
    transition: 400rem;
    box-shadow: 10px 10px 25px #000000;
    padding: 5%;
    margin: 6%;
    float: left;
}

#imgcall:hover{
    opacity: 0.3;
}

#imgalpha{
    transition: 400rem;
        box-shadow: 10px 10px 25px #000000;
        padding: 5%;
        margin: 8%;
        float: right;
}
#imgalpha:hover{
    opacity: 0.3;
}

#imgmujerrural{
    transition: 400rem;
        box-shadow: 10px 10px 25px #000000;
        padding: 5%;
        margin: 12%;
}

#imgmujerrural:hover{
    opacity: 0.3;
}





footer.bg-black{
    width: 100%;
    height: 100%;
    padding: 1rem;
}