body {
    background-color: #FBEEE6;
}

/*navbar*/
.navbar.navbar-expander-lg {
    background-color: #000000;
}

li.list-group-item {
    background: transparent;
}

i.fa-brands.fa-linkedin.fa-2x,
i.fa-brands.fa-instagram.fa-2x,
i.fa-brands.fa-github.fa-2x,
i.fa-solid.fa-lock.fa-2x {
    color: #fff;
}

.fa-brands.fa-linkedin.fa-2x:hover {
    background-color: blue;
}

.fa-brands.fa-instagram.fa-2x:hover {
    background-color: deeppink;
}

.fa-brands.fa-github.fa-2x:hover {
    background-color: chartreuse;
}

/*banner*/
section.banner {
    background-image: url(/assets/css/img/compu.png);
    width: 100%;
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    -msn-background-size: cover;
    grid-row: flex;
}

h1.intro {
    padding-top: 15%;
    font-size: 4rem;

}

/*sobre mi y foto */
#sobre {
    margin-top: 5%;
    font-size: 1rem;
}
h4 {
    font-size: 18px;
    display: block;
    text-align: center;  
}
.container-fluid.sobremi {
    background-color: #fdcae1;
    border-radius: 90px solid;
    width: 100%;
}

/*experiencia laborales*/

.container-fluid.experie {
    background-color: #d8f8e1;
    border-radius: 90px solid;
    width: 100%;
    padding: auto;
}

#callcenter1{
    font-size: 18px;
    text-align: center;
   
}

#imgcall{
    transition: 400rem;
    box-shadow: 10px 10px 25px #000000;
    padding: 10px;
    margin: 10px;

}

#imgcall:hover{
    opacity: 0.3;
}

#alphagroup2 {
    font-size: 18px;
    text-align: center;
    padding: 35px;
}

#imagizq {
    transition: 400rem;
        box-shadow: 10px 10px 25px #000000;
        padding: 10px;
        margin: 10px;
} 

#imagizq:hover{
    opacity: 0.3;
}

#agropec3{
    font-size: 18px;
    text-align: center;
}

#imgmujerrural{
    transition: 400rem;
    box-shadow: 10px 10px 25px #000000;
    padding: 10px;
    margin: 10px; 
}

#imgmujerrural:hover{
    opacity: 0.3;
}


/*habilidades*/
.progress-bar{
    background-color: rgb(58, 134, 92);
    text-align: center;
    --bs-progress-height: 1.5rem;
}

.progress-bar.bg-blue.color1{
    background-color: rgb(156, 81, 119);
    text-align: center;
     --bs-progress-height: 1.5rem;
}


/*educacion*/
.card{
    width: 50%;
    margin: 5%;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    background-color: #D7BDE2;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.7);
    cursor: default;
    transition: all 400ms ease;
    
}

.card:hover{
    box-shadow: 5px 50px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

/*footer*/
footer.bg-black {
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    }
    
    /*loginhtml*/
    .form-login {
        height: 79vh;
    }
    
    .formulario-login {
        margin-top: 15%;
    }
    
    /*panel*/
    .perfili {
        border-style: none !important;
    }
    
    .exqui {
        font-size: 1.5rem;
    }
    
    a,
    a:hover {
        text-decoration: none;
        color: #000000;
    }
    
    nav.vertical {
        float: left;
        margin-left: 0.5rem;
        margin-top: 5rem;
            margin-bottom: 3.83rem;
    }
    
    li.vertical {
        display: block;
        margin: 0;
        writing-mode: vertical;
        padding: 1.25rem 0;
        justify-content: center;
        display: flex;
        font-size: 1rem;
}