.bg-black{
background-color: #000000;

}

body{
    background-color: #E0C6D3;
}

.list-group {
    --bs-list-group-bg: transparent;
}

.fa-brands.fa-linkedin.fa-2x:hover {
    background-color: blue;
}

.fa-brands.fa-instagram.fa-2x:hover {
    background-color: deeppink;
}

.fa-brands.fa-github.fa-2x:hover {
    background-color: chartreuse;
}

section.banner {
    background-image: url(/assets/css/img/sanclemente.png);
    width: 100%;
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    -msn-background-size: cover;
    grid-row: flex;
}

h1.intro {
    padding-top: 15%;
    font-size: 4rem;

}

#sobre {
    margin-top: 5%;
    font-size: 1rem;
}
h4 {
    font-size: 18px;
    display: block;
    text-align: center;  
}

#callcenter1{
    font-size: 18px;
    text-align: center;
   
}

#imgcall{
    transition: 400rem;
    box-shadow: 10px 10px 25px #000000;
    padding: 10px;
    margin: 10px;

}

#imgcall:hover{
    opacity: 0.3;
}

#alphagroup2 {
    font-size: 18px;
    text-align: center;
    padding: 35px;
}

#imagizq {
    transition: 400rem;
        box-shadow: 10px 10px 25px #000000;
        padding: 10px;
        margin: 10px;
} 

#imagizq:hover{
    opacity: 0.3;
}

#agropec3{
    font-size: 18px;
    text-align: center;
}

#imgmujerrural{
    transition: 400rem;
    box-shadow: 10px 10px 25px #000000;
    padding: 10px;
    margin: 10px; 
}

#imgmujerrural:hover{
    opacity: 0.3;
}

#carouselExampleControls{
    width: 50%;
    height: 50%;
   
}

.progress-bar{
    background-color: darkorchid;
    text-align: center;
    --bs-progress-height: 1.5rem;
}

.progress-bar.bg-blue.color1{
    background-color: cornflowerblue;
    text-align: center;
     --bs-progress-height: 1.5rem;
}

button.Email,
button.Phone {
    padding: 20px 10px 40px 15px;
    font-size: 20px;
    background-color: #fa86c4;
    color: #FFFFFF;
    font-family: sans-serif;
    border-radius: 20%;
    width: 7%;
    height: 35px;
    margin-top: 3%;
    margin-bottom: 3%;
}
button .Email:hover{
 text-decoration: none;
}

footer.bg-black {
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    
    
    }
    
    /*loginhtml*/
    .form-login {
        height: 79vh;
    }
    
    .formulario-login {
        margin-top: 15%;
    }
    
    /*panel*/
    .perfili {
        border-style: none !important;
    }
    
    .exqui {
        font-size: 1.5rem;
    }
    
    a,
    a:hover {
        text-decoration: none;
        color: #000000;
    }
    
    nav.vertical {
        float: left;
        margin-left: 0.5rem;
        margin-top: 5rem;
            margin-bottom: 3.83rem;
    }
    
    li.vertical {
        display: block;
        margin: 0;
        writing-mode: vertical;
        padding: 1.25rem 0;
        justify-content: center;
        display: flex;
        font-size: 1rem;
}